.spanNavLinks {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  color: rgba(255, 255, 255, 0.36);
  transform: rotate(-90deg);
  text-align: center;

  text-decoration: none;
}
.linkRouter {
  color: inherit;
  text-decoration: inherit;
}
#btnHome {
  padding-right: 25px;
}
