.textTitle {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
#clientText {
  padding-left: 5%;
}
